.messageCard {
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.25rem;
  max-width: 75%;
  word-wrap: break-word;
  user-select: none;
}

.myMessage {
  background: linear-gradient(to right, var(--my-message-gradient-start), var(--my-message-gradient-end));
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0.25rem;
}

.otherMessage {
  background: linear-gradient(to right, var(--other-message-gradient-start), var(--other-message-gradient-end)); /* Subtle light gray gradient */
  color: var(--text-color);
  align-self: flex-start;
  border-bottom-left-radius: 0.25rem;
}

.badgeWithTooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the badge */
  left: 50%;
  margin-left: -50%; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.badgeWithTooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.transparentButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}