.messageCard {
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.25rem;
  max-width: 75%;
  word-wrap: break-word;
  user-select: none;
}

.myMessage {
  background: linear-gradient(to right, #007bff, #0056b3); /* Subtle blue gradient */
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0.25rem;
}

.otherMessage {
  background: linear-gradient(to right, #e9e9eb, #d0d0d3); /* Subtle light gray gradient */
  color: black;
  align-self: flex-start;
  border-bottom-left-radius: 0.25rem;
}