.loadingMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: transparent; /* Changed to transparent */
}

.loadingMessageContainer .lottie-animation {
  width: 3%;
  height: 3%;
  max-width: 150px; /* Example max width */
  max-height: 150px; /* Example max height */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .loadingMessageContainer p {
    font-size: 1rem;
  }
}
