.loadingMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.loadingMessageContainer .lottie-animation {
  width: 10%;
  height: 10%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .loadingMessageContainer p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .loadingMessageContainer .lottie-animation {
    width: 15%;
  height: 15%;
  }
}
