.skeletonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.skeletonAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 1rem;
}

.skeletonTextContainer {
    flex: 1;
}

.skeletonText {
    height: 1rem;
    background-color: #e0e0e0;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.skeletonText:last-child {
    width: 70%;
}

.myMessageSkeleton {
    justify-content: flex-end;
}

.myMessageSkeleton .skeletonAvatar {
    order: 2;
    margin-right: 0;
    margin-left: 1rem;
}

.myMessageSkeleton .skeletonTextContainer {
    order: 1;
    text-align: right;
}

.otherMessageSkeleton {
    justify-content: flex-start;
}