.rounded-button {
    border-radius: var(--border-radius-base) !important; /* Use global border-radius */
}

.transparent-button {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--primary-color) !important; /* Use primary color for text */
}