.card {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--card-background-color);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 15px; /* Add space between cards */
}

.card:hover {
  transform: translateY(-3px);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.profilePictureContainer {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.profilePicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholderPicture {
  font-size: 40px;
  color: var(--light-text-color);
}

.userInfo {
  flex-grow: 1;
}

.userName {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}
